[user]
	name = Henrik Brix Andersen
	email = henrik@brixandersen.dk
[push]
	default = current
[color]
	ui = auto
[log]
	date = local
[rebase]
	stat = true
[branch]
	autosetuprebase = always
[alias]
	sta = status
